/* ----- reset ----- */
a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --cat-color: $bg-color;
}

/* ----- base ----- */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  width: 100%;
  background-color: #FEFEFE;
  color: #246286;
  font-family: "Zen Maru Gothic", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

/* ----- header layout ----- */
.l-header {
  width: 100%;
  height: 100vh;
}

/* ----- main layout ----- */
.l-main {
  width: 100%;
}

/* ----- footer layout ----- */
.l-footer {
  padding: 4px 16px;
}

/* ----- button component ----- */
.c-button--tab {
  margin-bottom: -1px;
  padding: 15px 0 9px;
  width: 120px;
  border: 1px solid #246286;
  border-bottom: 1px solid #FEFEFE;
  border-radius: 8px 8px 0 0;
  text-align: center;
  transition: padding 0.4s 0.2s ease-in-out, transform 0.2s ease-in-out;
}
@media (min-width: 768px) {
  .c-button--tab {
    padding: 24px 0 18px;
    width: 170px;
    border-radius: 12px 12px 0 0;
    font-size: 2rem;
  }
}
.c-button--tab:hover {
  font-weight: 700;
  transform: translateY(-6px);
}
.c-button--tab.is-current {
  padding-bottom: 15px;
  font-weight: 700;
  pointer-events: none;
}
@media (min-width: 768px) {
  .c-button--tab.is-current {
    padding-bottom: 24px;
  }
}

.c-button--select {
  margin-bottom: 6px;
  border: 1px solid #246286;
  border-radius: 4px;
  background-color: #FEFEFE;
  display: block;
  position: relative;
  transition: margin 0.2s;
}
.c-button--select::before {
  content: "";
  width: 100%;
  height: 90%;
  box-sizing: content-box;
  border: 1px solid #246286;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  bottom: -6px;
  left: -1px;
  z-index: -1;
  transition: bottom 0.2s;
}
.c-button--select:hover {
  margin: 3px 0;
}
.c-button--select:hover::before {
  bottom: -3px;
}
.c-button--select:active {
  margin: 6px 0 0;
}
.c-button--select:active::before {
  bottom: 0;
}

.c-button--top {
  display: block;
  position: absolute;
  bottom: 32px;
  right: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .c-button--top {
    margin-left: min(25%, 360px);
    bottom: 58.7px;
    right: unset;
    left: 50%;
    font-size: 1.2rem;
  }
}
.c-button--top::before {
  content: "";
  width: 56px;
  height: auto;
  aspect-ratio: 56/45;
  background: url(../images/arrow.svg) center/contain no-repeat;
  display: block;
  position: absolute;
  top: -1px;
  left: -2px;
  transform-origin: left bottom;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .c-button--top::before {
    width: 78px;
    top: -1.4px;
    right: -5.8px;
  }
}
.c-button--top:hover::before {
  transform: scale(1.1, 1.2);
}

/* ----- inner component ----- */
.c-inner {
  margin-inline: auto;
  width: 82.2%;
  max-width: 840px;
}

/* ----- text component ----- */
.c-hours {
  letter-spacing: 0.05em;
}
.c-hours::after {
  content: "h";
  margin-left: 2px;
  font-size: 1.4rem;
  vertical-align: baseline;
}

/* ----- content component ----- */
.c-content {
  width: 100%;
  visibility: hidden;
  border-top: 1px solid #D7D7D7;
  background-image: linear-gradient(rgba(217, 217, 217, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(217, 217, 217, 0.3) 1px, transparent 1px);
  background-position: 5px 5px;
  background-size: 15px 15px;
  background-repeat: repeat;
  position: absolute;
  top: 62px;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s 0.2s ease-in-out, transform 0.4s 0.2s ease-in-out;
}
@media (min-width: 768px) {
  .c-content {
    background-position: 10px 10px;
    background-size: 20px 20px;
    top: 86px;
  }
}
.c-content.is-open {
  visibility: visible;
  position: relative;
  top: 0;
  opacity: 1;
  transform: translateX(0);
}

/* ----- animation component ----- */
.c-loader {
  display: inline-block;
  opacity: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
}
.c-loader:nth-child(2) {
  -webkit-animation-delay: calc(0.2s * ( 2 - 1 ));
          animation-delay: calc(0.2s * ( 2 - 1 ));
}
.c-loader:nth-child(3) {
  -webkit-animation-delay: calc(0.2s * ( 3 - 1 ));
          animation-delay: calc(0.2s * ( 3 - 1 ));
}
.c-loader:nth-child(4) {
  -webkit-animation-delay: calc(0.2s * ( 4 - 1 ));
          animation-delay: calc(0.2s * ( 4 - 1 ));
}
.c-loader:nth-child(5) {
  -webkit-animation-delay: calc(0.2s * ( 5 - 1 ));
          animation-delay: calc(0.2s * ( 5 - 1 ));
}
.c-loader:nth-child(6) {
  -webkit-animation-delay: calc(0.2s * ( 6 - 1 ));
          animation-delay: calc(0.2s * ( 6 - 1 ));
}
.c-loader:nth-child(7) {
  -webkit-animation-delay: calc(0.2s * ( 7 - 1 ));
          animation-delay: calc(0.2s * ( 7 - 1 ));
}
.c-loader:nth-child(8) {
  -webkit-animation-delay: calc(0.2s * ( 8 - 1 ));
          animation-delay: calc(0.2s * ( 8 - 1 ));
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* ----- blowing component ----- */
.c-blowing {
  position: absolute;
}
.c-blowing svg {
  width: 100%;
  height: 100%;
}
.c-blowing svg path {
  vector-effect: non-scaling-stroke;
}

/* ----- header ----- */
.p-header {
  display: grid;
  place-content: center;
}
.p-header h1 {
  margin-top: -56px;
  font-size: 0;
  text-align: center;
}
.p-header svg {
  width: clamp(208px, 50vw, 400px);
  height: auto;
}
@media (min-width: 768px) {
  .p-header svg {
    width: clamp(400px, 50vw, 600px);
  }
}
.p-header__titleTxt {
  fill: #246286;
}
.p-header__titleTxt path {
  stroke-width: 0;
}
.p-header__titleMask path {
  fill: none;
  stroke: #FEFEFE;
  stroke-dasharray: 3080px;
  -webkit-animation: title 6s ease-in-out forwards;
          animation: title 6s ease-in-out forwards;
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
    stroke-dashoffset: 3080px;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes title {
  0% {
    opacity: 0;
    stroke-dashoffset: 3080px;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
/* ----- about ----- */
.p-about {
  padding-bottom: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .p-about {
    padding-bottom: 380px;
  }
}
.p-about h2 {
  font-size: 1.6rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .p-about h2 {
    font-size: 2.4rem;
  }
}
.p-about figure {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .p-about figure {
    margin-top: 80px;
  }
}
.p-about figure img {
  width: 80px;
  height: auto;
}
@media (min-width: 768px) {
  .p-about figure img {
    width: 120px;
  }
}
.p-about p {
  margin-top: 24px;
  width: 100%;
  max-width: 300px;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .p-about p {
    margin-top: 40px;
    max-width: 480px;
    font-size: 1.6rem;
    text-align: center;
  }
}
.p-about p + p {
  margin-top: 8px;
}
.p-about p a {
  text-decoration: underline;
}

/* ----- contents ----- */
.p-contents {
  width: 100%;
  border-bottom: 1px solid #D7D7D7;
  position: relative;
  overflow: hidden;
}
.p-contents__tabs {
  padding-top: 6px;
  border-bottom: 1px solid #246286;
  position: relative;
}
.p-contents__tabs button + button {
  margin-left: 12px;
}
@media (min-width: 768px) {
  .p-contents__tabs button + button {
    margin-left: 24px;
  }
}

/* ----- log section ----- */
.p-log {
  padding: 92px 0 40px;
  transform: translateX(-50px);
}
@media (min-width: 768px) {
  .p-log {
    padding: 170px 0 60px;
  }
}
.p-log__archive {
  margin-top: 96px;
}
@media (min-width: 768px) {
  .p-log__archive {
    margin-top: 170px;
  }
}
.p-log__archive > li {
  padding-block: 48px;
  position: relative;
}
@media (min-width: 768px) {
  .p-log__archive > li {
    padding-block: 60px;
  }
}
.p-log__archive > li::before {
  content: "";
  width: 62%;
  max-width: 300px;
  height: 1px;
  background-size: 8px 1px;
  background-image: linear-gradient(to right, #246286 4px, transparent 4px);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ----- calendar ----- */
.p-calendar {
  margin-inline: auto;
  width: 100%;
  max-width: 425px;
}
@media (min-width: 768px) {
  .p-calendar {
    max-width: 500px;
  }
}
.p-calendar .fc-scrollgrid, .p-calendar th, .p-calendar td {
  border: none;
}
.p-calendar .fc-day-sun {
  color: #B01215;
}
.p-calendar a {
  pointer-events: none;
}
.p-calendar .fc-button-primary {
  padding: 2px;
  border: none;
  border-radius: 50%;
  background-color: unset;
  display: grid;
  place-content: center;
  color: #246286;
  transition: background-color 0.3s;
}
.p-calendar .fc-button-primary:hover {
  background-color: #246286;
}
.p-calendar .fc-toolbar.fc-header-toolbar {
  margin: 0 8px 32px;
}
@media (min-width: 768px) {
  .p-calendar .fc-toolbar.fc-header-toolbar {
    margin: 0 auto 60px;
    width: 80%;
  }
}
.p-calendar .fc-toolbar.fc-header-toolbar h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .p-calendar .fc-toolbar.fc-header-toolbar h2 {
    font-size: 2.4rem;
  }
}
.p-calendar .fc-toolbar.fc-header-toolbar > * > :not(:first-child) {
  margin-left: 4px;
}
@media (min-width: 768px) {
  .p-calendar .fc-toolbar.fc-header-toolbar > * > :not(:first-child) {
    margin-left: 12px;
  }
}
.p-calendar .fc-toolbar-chunk {
  display: flex;
  align-items: center;
}
.p-calendar .fc-toolbar-chunk .fc-icon::before {
  display: block;
}
.p-calendar .fc-button-group > .fc-button:not(:last-child) {
  border-radius: 50%;
}
.p-calendar .fc--button {
  display: none;
}
.p-calendar .fc-view {
  color: #454545;
}
.p-calendar .fc-view thead {
  height: 44px;
}
@media (min-width: 768px) {
  .p-calendar .fc-view thead {
    height: 64px;
  }
}
.p-calendar .fc-view th {
  font-weight: 400;
}
.p-calendar .fc-view .fc-daygrid-day-top {
  justify-content: center;
}
.p-calendar .fc-view .fc-daygrid-day-number {
  width: 2.5rem;
  padding: 2px;
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .p-calendar .fc-view .fc-daygrid-day-number {
    width: 2.8rem;
    font-size: 1.6rem;
  }
}
.p-calendar .fc-view .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}
.p-calendar .fc-view .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  border-radius: 50%;
  background-color: #FFEDF0;
}
.p-calendar .fc-view .fc-daygrid-day-events {
  margin-bottom: 12px;
  min-height: 8px;
}
@media (min-width: 768px) {
  .p-calendar .fc-view .fc-daygrid-day-events {
    padding: 4px;
    min-height: 24px;
  }
}
.p-calendar .fc-view .fc-daygrid-day-events .fc-event-title {
  display: none;
}
.p-calendar .fc-view .fc-daygrid-day-events .fc-event {
  border: none;
  background-color: unset;
}
.p-calendar .fc-view .fc-daygrid-day-events .fc-daygrid-event-dot {
  margin-inline: auto;
  border: 2px solid #246286;
}
@media (min-width: 768px) {
  .p-calendar .fc-view .fc-daygrid-day-events .fc-daygrid-event-dot {
    border-width: 3px;
  }
}

/* ----- log card ----- */
.p-logCard {
  margin-inline: auto;
  width: 100%;
  max-width: 600px;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .p-logCard {
    font-size: 1.6rem;
  }
}
.p-logCard h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .p-logCard h3 {
    font-size: 1.6rem;
  }
}
.p-logCard h4 {
  padding: 8px;
  width: 90px;
  border: 1px solid #246286;
  border-radius: 4px;
  background-color: #FEFEFE;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .p-logCard h4 {
    width: 120px;
    font-size: 1.4rem;
  }
}
.p-logCard ul {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .p-logCard ul {
    margin-top: 16px;
  }
}
.p-logCard__cat {
  margin-top: 6px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .p-logCard__cat {
    margin-top: 8px;
  }
}
.p-logCard__cat p {
  padding-left: 6px;
}
@media (min-width: 768px) {
  .p-logCard__cat p {
    padding-left: 14px;
  }
}
.p-logCard__cat p + p {
  margin-left: auto;
}
.p-logCard__text {
  margin-top: 16px;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .p-logCard__text {
    margin-top: 24px;
  }
}
.p-logCard__text p + p {
  margin-top: 6px;
}
@media (min-width: 768px) {
  .p-logCard__text p + p {
    margin-top: 8px;
  }
}

/* ----- report section ----- */
.p-report {
  padding: 96px 0 80px;
  overflow-x: hidden;
  transform: translateX(50px);
}
@media (min-width: 768px) {
  .p-report {
    padding: 170px 0 120px;
  }
}
.p-report__head {
  padding-left: min(6%, 25px);
}
@media (min-width: 768px) {
  .p-report__head {
    padding-left: 40px;
  }
}
.p-report__head fieldset {
  border: none;
}
.p-report__head fieldset label + label {
  margin-left: 18px;
}
.p-report__head input[type=radio] {
  margin-right: 4px;
}
.p-report__select {
  margin-top: 18px;
  display: flex;
  align-items: flex-end;
  gap: 24px;
  position: relative;
}
.p-report__select::before {
  content: "";
  width: 308px;
  height: 57.8px;
  background: url(../images/bird.svg) center/contain no-repeat;
  display: none;
  position: absolute;
  top: 50%;
  left: 71%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .p-report__select::before {
    display: block;
  }
}
.p-report__select input, .p-report__select select {
  padding: 6px 24px;
  width: 172px;
  border: 1px solid #246286;
  border-radius: 4px;
  background-color: #FEFEFE;
  display: none;
  color: #246286;
  text-align: center;
}
@media (min-width: 768px) {
  .p-report__select input, .p-report__select select {
    padding-block: 8px;
    width: 220px;
  }
}
.p-report__select input.is-open, .p-report__select select.is-open {
  display: block;
}
.p-report__select button {
  padding: 4px 16px;
}
@media (min-width: 768px) {
  .p-report__select button {
    padding: 6px 18px;
  }
}

/* ----- graph ----- */
.p-graph {
  margin-top: 112px;
}
@media (min-width: 768px) {
  .p-graph {
    margin-top: 140px;
  }
}
.p-graph h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-graph h2 {
    font-size: 2rem;
  }
}
.p-graph__weekly {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-graph__weekly h2 {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.07em;
}
.p-graph__weekly h2::before, .p-graph__weekly h2::after {
  content: "";
  height: 1px;
  background-size: 8px 1px;
  background-image: linear-gradient(to right, #246286 4px, transparent 4px);
  background-repeat: repeat-x;
  flex: 1;
}
.p-graph__weekly h2::before {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .p-graph__weekly h2::before {
    margin-right: 24px;
  }
}
.p-graph__weekly h2::after {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .p-graph__weekly h2::after {
    margin-left: 24px;
  }
}
.p-graph__weekly dl {
  margin-top: 40px;
  padding: 0 12px 6px;
  width: 160px;
  border-bottom: 2px solid #246286;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-graph__weekly dl {
    margin-top: 80px;
    padding-inline: 12px;
    width: 200px;
    font-size: 1.8rem;
  }
  .p-graph__weekly dl dd::after {
    font-size: 1.6rem;
  }
}
.p-graph__weekly dl dd {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.p-graph__content {
  margin-top: 36px;
  padding: 40px 6px;
  width: calc(90vw + 12px);
  max-width: 840px;
  height: 420px;
  border-radius: 60px;
  background-color: #FEFEFE;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .p-graph__content {
    margin-top: 48px;
    padding: 80px;
    width: 100%;
    height: 580px;
  }
}
.p-graph__ranking {
  margin-top: 28px;
  padding: 88px 0 63px 0;
  max-width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .p-graph__ranking {
    margin: 34px 0 0 15.2%;
    padding: 122px 0 88px 0;
  }
}
.p-graph__ranking > div {
  width: calc(100% + 68px + 73px);
  height: 100%;
  top: 0;
  left: -68px;
}
@media (min-width: 768px) {
  .p-graph__ranking > div {
    width: calc(100% + 76px + 89px);
    left: -76px;
  }
}
.p-graph__ranking h2 {
  display: inline-block;
}
.p-graph__ranking h2 span {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.p-graph__ranking h2 span:first-child {
  margin-left: 4px;
}
.p-graph__ranking h2 span:last-child {
  margin-left: 2px;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .p-graph__ranking h2 span:last-child {
    font-size: 2.8rem;
  }
}

/* ----- ranking table ----- */
.p-table {
  margin-top: 12px;
  width: 100%;
  max-width: 420px;
}
.p-table th {
  padding: 8px 10px 6px 12px;
  width: 20%;
}
@media (min-width: 768px) {
  .p-table th {
    padding: 10px 8px 8px 24px;
  }
}
.p-table th span {
  width: 3.6rem;
  height: 3.6rem;
  border: 1px dashed #246286;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
@media (min-width: 768px) {
  .p-table th span {
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
  }
}
.p-table th span::before, .p-table th span::after {
  content: "";
  position: absolute;
}
.p-table th span::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--cat-color);
  top: 2px;
  left: 3px;
}
.p-table th span::after {
  width: 10px;
  height: 1px;
  border-radius: 1px;
  background-color: #246286;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .p-table th span::after {
    width: 14px;
  }
}
.p-table td {
  padding-left: 6px;
}
@media (min-width: 768px) {
  .p-table td {
    padding-left: 12px;
  }
}
.p-table__category {
  font-weight: 700;
  text-align: left;
}
@media (min-width: 768px) {
  .p-table__category {
    min-width: 200px;
  }
}
.p-table__hours {
  width: 10%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: right;
}
.p-table__per {
  padding-right: 12px;
  width: 17.6%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  text-align: right;
}
@media (min-width: 768px) {
  .p-table__per {
    padding-right: 24px;
  }
}
.p-table__per::before {
  content: "(";
  vertical-align: baseline;
}
.p-table__per::after {
  content: "%)";
  vertical-align: baseline;
}

/* ----- loader ----- */
.p-loader {
  background-color: rgba(230, 230, 230, 0.5);
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}
.p-loader__wrapper {
  padding: 46px 36px;
  border: 1px solid #246286;
  border-radius: 60px;
  position: relative;
}
.p-loader__wrapper::before, .p-loader__wrapper::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 28%;
}
.p-loader__wrapper::before {
  width: 15px;
  height: 15px;
  background-color: #FEFEFE;
  transform: rotate(135deg);
}
.p-loader__wrapper::after {
  width: 20px;
  height: 1px;
  background-color: #246286;
  display: block;
  transform: rotate(-50deg);
}
.p-loader__bg {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background-color: #FEFEFE;
  position: absolute;
  bottom: -3px;
  left: 4px;
  z-index: -1;
}
.p-loader.is-appeared {
  opacity: 1;
}
.p-loader.is-appeared .c-loader {
  -webkit-animation-name: loader;
          animation-name: loader;
}

/* ----- footer ----- */
.p-footer small {
  display: block;
  font-size: 1.2rem;
  line-height: 1;
}
/*# sourceMappingURL=style.css.map */