@use "../../foundation/variables" as *;

/* ----- animation component ----- */
.c-loader {
  display: inline-block;
  opacity: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);

  @for $i from 2 through 8 {
    &:nth-child(#{$i}) {
      animation-delay: calc( 0.2s * ( #{$i} - 1 ) );
    }
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}