@use "../../foundation/variables" as *;

/* ----- content component ----- */
.c-content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .8s .1s cubic-bezier(.26,.03,0,1);

  &.is-open {
    position: relative;
    transform: translateX(0);
  }
}