@use "../../foundation/variables" as *;

/* ----- contents ----- */
.p-contents {
  width: 100%;
  border-bottom: 1px solid $gray-color;
  overflow: hidden;

  &__tabs {
    padding-top: 10px;
    border-bottom: 1px solid $main-color;
    background-color: $bg-color;

    .c-inner {
      margin-bottom: -1px;
    }
  }

  &__content {
    position: relative;
    border-top: 1px solid $gray-color;
  }
}