@use "../../foundation/variables" as *;

/* ----- contents ----- */
.p-contents {
  width: 100%;
  border-bottom: 1px solid $gray-color;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s .4s ease-in-out;

  &__tabs {
    padding-top: 6px;
    border-bottom: 1px solid $main-color;
    position: relative;

    button + button {
      margin-left: 12px;

      @include breakpoint(tablet) {
        margin-left: 24px;
      }
    }
  }

  // animation
  &.is-appeared {
    opacity: 1;
  }
}