@use "../../foundation/variables" as *;

/* ----- header ----- */
.p-header {
  display: grid;
  place-content: center;
  background-color: $bg-color;

  h1 {
    font-size: 0;
  }

  svg {
    width: clamp(208px, 50vw, 300px);
    height: auto;

    @include breakpoint(tablet) {
      width: clamp(300px, 48.8vw, 500px);
    }
  }

  &__titleTxt {
    path {
      stroke: $main-color;
      stroke-width: 1.4;
      stroke-linecap: round;
      stroke-linejoin: round;
      vector-effect: non-scaling-stroke;
    }
  }

  &__titleMask {
    path {
      stroke: $bg-color;
      stroke-dasharray: 2170px;
      animation: title 5s ease-in-out forwards;
    }
  }
}

@keyframes title {
  0% {
    opacity: 0;
    stroke-dashoffset: 2170px;
  }
  50% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}