@use "../../foundation/variables" as *;

/* ----- header ----- */
.p-header {
  display: grid;
  place-content: center;

  h1 {
    margin-top: -56px;
    font-size: 0;
    text-align: center;
  }

  svg {
    width: clamp(208px, 50vw, 300px);
    height: auto;

    @include breakpoint(tablet) {
      width: clamp(300px, 35vw, 500px);
    }
  }

  &__titleTxt {
    path {
      stroke: $main-color;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;

      @include breakpoint(tablet) {
        stroke-width: 2;
      }
    }
  }

  &__titleMask {
    path {
      stroke: $bg-color;
      stroke-dasharray: 2100px;
      animation: title 6s ease-in-out forwards;
    }
  }
}

@keyframes title {
  0% {
    opacity: 0;
    stroke-dashoffset: 2100px;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}