@use "../../foundation/variables" as *;

/* ----- loader ----- */
.p-loader {
  background-color: rgba(230, 230, 230, .5);
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  @include montserrat();
  opacity: 0;
  transition: opacity .6s ease-in-out;
  pointer-events: none;

  &__wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FEFEFE 0%, rgba(254, 254, 254, 0.8) 75%, rgba(254, 254, 254, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__book {
    width: 100px;
    height: 74px;
    background: url(../images/book.png) no-repeat;
    animation: book 1.5s steps(5) infinite;
  }

  &.is-appeared {
    opacity: 1;
    pointer-events: auto;

    .c-loader {
      animation-name: loader;
    }
  }
}

@keyframes book {
  0% {
    background-position: left 0px bottom 0px;
  }
  100% {
    background-position: left -500px bottom 0px;
  }
}