@use "../../foundation/variables" as *;

/* ----- log section ----- */
.p-log {
  padding: 92px 0 40px;
  transform: translateX(-10%);

  @include breakpoint(tablet) {
    padding: 170px 0 60px;
  }

  &__archive {
    margin-top: 96px;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    @include breakpoint(tablet) {
      margin-top: 170px;
    }

    > li {
      padding-block: 48px;
      position: relative;

      @include breakpoint(tablet) {
        padding-block: 60px;
      }

      &::before {
        content: "";
        width: 62%;
        max-width: 300px;
        height: 1px;
        background-size: 8px 1px;
        background-image: linear-gradient(to right, $main-color 4px, transparent 4px);
        background-repeat: repeat-x;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.is-appeared {
      opacity: 1;
    }
  }
}